.main-container{
    display: flex;
    width:100vw;
    height:100vh;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.counter-container{
    height:150px;
    width:200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border:2px solid red; */
    display: inline-block;
    /* flex-wrap:wrap; */
    /* padding:20px; */
    margin:30px;
}
.counter{
    font-size:20px;
}
span{
    font-size: 25px;
}

.container
{
    background-color:#333;   
    padding:1rem;
    margin-top:1rem;
}

.draggable
{
    padding:1rem;
    background-color:white;
    border:1px solid blue;
    cursor:move;
}
.draggable.dragging 
{
    opacity:0.5;
}
@media only screen and (max-width: 600px) {
    .main-container{
        display:flex;
        flex-wrap:wrap; 
    }
  }